venv
/venv/

__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
dist/
build/
.eggs/
*.log
.DS_Store
.idea/
.vscode/
*.swp
*.swo
.env
.env.*
.ipynb_checkpoints/
coverage/
htmlcov/
.tox/
.nox/
.pytest_cache/
.mypy_cache/
.pyre//
.pytype/
celerybeat-schedule
instance/
.webassets-cache/